@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <input type="checkbox" id="debugMode" name="debugMode" onchange="changeDebugMode()">
    <label for="debugMode">Tryb Debugowania</label>
</div>


<div class="container bg-danger" style="height:455px; min-width:800px" oncontextmenu="return false;">
    <div class="row" style="height:410px" >
        <div class="col-auto bg-info" style="min-width:400px">
            <canvas id="myCanvas" width="400" height="400" style="border:1px solid #000000;">
                Your browser does not support the HTML canvas tag.
            </canvas>
        </div>
        <div class="col bg-light overflow-auto h-100" >
            <ul id="mob-list" class="no-bullets">
            </ul>
        </div>
    </div>
    <div class="row" style="height:45px">
        <div class="col-2">
            <div class="row bg-danger" style="height:15px"> hp</div>
            <div class="row bg-primary" style="height:15px">mana</div>
            <div class="row bg-warning" style="height:15px">stamina</div>

        </div>
        <div class="col-3">
            <div class="row h-100">
                <div class="col-9 bg-info">exp</div>
                <div class="col-3 bg-black">m</div>
            </div>
        </div>
        <div class="col-5">
            <div class="row h-100">
                <div class="col-1">1</div>
                <div class="col-1">2</div>
                <div class="col-1">3</div>
                <div class="col-1">4</div>
                <div class="col-1">x</div>
                <div class="col-1">f1</div>
                <div class="col-1">f2</div>
                <div class="col-1">f3</div>
                <div class="col-1">f4</div>
                <div class="col-1">d</div>
                <div class="col-2">pm</div>
            </div>
        </div>
        <div class="col-2">
            <div class="row h-100">
                <div class="col-3">o1</div>
                <div class="col-3">o2</div>
                <div class="col-3">o3</div>
                <div class="col-3">o4</div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/helpers.js" asp-append-version="true"></script>
<script src="~/js/models.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var debugMode = document.getElementById("debugMode").checked;
    
    function changeDebugMode(){
        debugMode = document.getElementById("debugMode").checked;
    }

    const player = new Player("Gracz", new Position(200,250), 0);
    const spawnPoints = [new SpawnPoint(100,100, 1),
        new SpawnPoint(300,100, 2),
        new SpawnPoint(100,300, 3),
        new SpawnPoint(300,300, 4)
    ];
    spawnPoints.forEach(e => {
        for (var i = 0; i<3; i++) e.addMobGroup(e.id, i);
    });
    const leftClickPos = new Position(-1,-1);
    var clickedItem;

    //BIG INIT TODO
    function onInit(){
        //Pobierz lokacje gracza i dodaj do obiektu

        //Pobierz spawnpointy i stwórz z nich listę obiektów

        //Zespawnuj mobki na niektórych spawnpointach
    }

    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");

    canvas.addEventListener("contextmenu",  onRightClick);
    canvas.addEventListener("click", onLeftClick);

    function onRightClick(e) {

        player.goTo(getMousePos(canvas,e));
        leftClickPos.x = -100;
        leftClickPos.y = -100;

    }

    function onLeftClick(e) {

        var ul = document.getElementById("mob-list");
        var isOnList = false;
        ul.childNodes.forEach(h => {
                if ((typeof h.id !== 'undefined') && h.id == "Mob"+clickedItem.id) {
                    isOnList = true;
                }

        });

        if (typeof clickedItem != "undefined" && isOnList) newRemoveItem(clickedItem);
        var temp = getMousePos(canvas,e);
        leftClickPos.x = temp.x;
        leftClickPos.y = temp.y;

    }

    function drawAll(){
        ctx.fillStyle= "black";
        ctx.fillRect(0,0, canvas.clientWidth, canvas.clientHeight)
        drawPlayer();
        drawSpawnPoints();
        drawMobs();
        drawLeftClick();

        setTimeout(mapAnim, 20);
    }

    function drawPlayer(){

        ctx.fillStyle = "blue";
        ctx.fillRect(player.pos.x - 2.5 ,player.pos.y - 2.5 ,5,5);
    }

    function drawSpawnPoints(){

        
        spawnPoints.forEach(e => {
            if (debugMode) {

                ctx.fillStyle = "yellow";
                ctx.fillRect(e.x - 2.5 , e.y - 2.5 , 5, 5);


                ctx.beginPath();
                ctx.strokeStyle = "white";
                ctx.arc(e.x, e.y, 45, 0, 2 * Math.PI);
                ctx.stroke(); 

                ctx.beginPath();
                ctx.strokeStyle = "pink";
                ctx.arc(e.x, e.y, 80, 0, 2 * Math.PI);
                ctx.stroke(); 
            }
        });
    }

    function drawMobs(){

        spawnPoints.forEach(e => {
            
            e.mobGroups.forEach(f => {

                if(debugMode){
                    ctx.fillStyle = "pink";
                    ctx.fillRect(f.x - 2.5 , f.y - 2.5 , 5, 5);

                    ctx.beginPath();
                    ctx.strokeStyle = "red";
                    ctx.arc(f.x, f.y, 40, 0, 2 * Math.PI);
                    ctx.stroke(); 
                }

                var ul = document.getElementById("mob-list");

                f.mobs.forEach(g => {
                    var isNearPlayer = isInRange(player,g,20);
                    var isNearLeftClick = isInRange(leftClickPos,g,6);
                    ctx.fillStyle = "red";

                    var isOnList = false;
                    ul.childNodes.forEach(h => {
                            if ((typeof h.id !== 'undefined') && h.id == "Mob"+g.id) {
                                isOnList = true;
                                ctx.fillStyle = "orange";
                            }

                    });

                    if(isNearPlayer){
                        if (!isOnList) {
                            newAddItem(g);
                        }
                    }
                    else if(isNearLeftClick){
                        newAddItem(g);
                        clickedItem = g;

                    }
                    else {

                        if (isOnList && g != clickedItem) {
                            newRemoveItem(g);
                        }
                    }

                    ctx.fillRect(g.pos.x -2.5 , g.pos.y -2.5 , 5, 5);


                });

            });

        });

        leftClickPos.x = -100; leftClickPos.y = -100;
    }

    function drawLeftClick(){

        if (debugMode){
            ctx.fillStyle = "lightgreen";
            ctx.fillRect(leftClickPos.x - 2.5 ,leftClickPos.y - 2.5 ,5,5);
        }
    }
    
    function mapAnim(){


        if (player.pos.walking == true) player.run();

        spawnPoints.forEach(e =>{

            e.mobGroups.forEach(f =>{
                
                f.mobs.forEach(g => {
                    if (!g.pos.walking && !g.pos.attacking)
                        if (Math.random()> 0.995) 
                            g.goTo(getRandomCordsInRadius(f.x,f.y,f.mobPosRadius));
                    if (g.pos.walking) 
                        g.run();
                });
            });    
        });

        drawAll();
    }

    drawAll();
    

    function newAddItem(mob){
        var ul = document.getElementById("mob-list");
        var li = document.createElement("li");
        li.setAttribute('id', "Mob" + mob.id);
        li.setAttribute('class', 'p-1');

        //div container
        var bigDiv = document.createElement('div');

        //div z nazwą potwora
        var nameDiv = document.createElement('div');
        nameDiv.setAttribute('class','col-md-12 text-center bg-info');
        nameDiv.appendChild(document.createTextNode(mob.name + " z id " + mob.id));

        //Div z przyciskami
        var buttonDiv = document.createElement('div');
        buttonDiv.setAttribute('class', 'col-md-12 text-center bg-dark p-2');

        var button = document.createElement('button');
        button.setAttribute('class', 'btn btn-secondary');
        button.setAttribute('type', 'button');
        button.appendChild(document.createTextNode('Atakuj'));

        //dodawanie
        buttonDiv.appendChild(button);

        bigDiv.appendChild(nameDiv);
        bigDiv.appendChild(buttonDiv);

        li.appendChild(bigDiv);

        ul.appendChild(li);
    }

    function newRemoveItem(mob){
    var ul = document.getElementById("mob-list");
    var item = document.getElementById("Mob" + mob.id);
    ul.removeChild(item);
    }

</script>