@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <input type="checkbox" id="debugMode" name="debugMode" onchange="changeDebugMode()">
    <label for="debugMode">Tryb Debugowania</label>
</div>


<div class="container bg-black" style="height:455px; min-width:1000px" oncontextmenu="return false;">
    <div class="row">
        <div class="col-auto bg-info" style="min-width:400px">
            <canvas id="myCanvas" width="400" height="400" style="border:1px solid #000000;">
                Your browser does not support the HTML canvas tag.
            </canvas>
        </div>
        <div class="col" >
            <div class="row" style="height:455px">
                <div class="col bg-light overflow-auto mh-100">
                    <ul id="mob-list" class="no-bullets"></ul>
                </div>
            
                <div class="col bg-light overflow-auto mh-100">
                    <ul id="user-log" class="no-bullets">
                        <li>Siema test</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:45px">
        <div class="col-2 m-0">
            <div class="row bg-black interface-bar" style="height:15px;"><div class="interface-bar-tooltip" style="background:#d45757;"><b id ="UIHpValue"style="font-size:smaller">75/100</b></div><span id="UIHpBar" style="width:75%; background-color:red"></span></div>
            <div class="row bg-black interface-bar" style="height:15px"><div class="interface-bar-tooltip" style="background:#5881e8;"><b style="font-size:smaller">89/100</b></div><span style="width:89%; background-color:blue"></span></div>
            <div class="row bg-black interface-bar" style="height:15px"><div class="interface-bar-tooltip" style="background:#e3e858;"><b style="font-size:smaller">100/100</b></div><span style="width:100%; background-color:yellow"></span></div>
        </div>
        <div class="col-2 m-0">
            <div class="row h-100">
                <div class="col-12 m-0">
                    <div class="row interface-bar" style="border:none">
                        <div class="interface-bar-tooltip" style="background:gold;"><b style="font-size:smaller">Doświadczenie: 21.37%</b></div>
                        <div class="col-3"><div id="expCircle1" class="circleBase type1" style="background: linear-gradient( black 0%, yellow 0%);"></div></div>
                        <div class="col-3"><div id="expCircle2" class="circleBase type1" style="background: linear-gradient( black 69%, yellow 0%);"></div></div>
                        <div class="col-3"><div id="expCircle3" class="circleBase type1" style="background: linear-gradient( black 43%, yellow 0%);"></div></div>
                        <div class="col-3"><div id="expCircle4" class="circleBase type1" style="background: linear-gradient( black 100%, yellow 0%);"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 m-0">
            <div class="row h-100 ">
                <div class="col-1 skillBox">lm</div>
                <div class="col-1 skillBox">1</div>
                <div class="col-1 skillBox">2</div>
                <div class="col-1 skillBox">3</div>
                <div class="col-1 skillBox">4</div>
                <div class="col-1 skillBox">x</div>
                <div class="col-1 skillBox">f1</div>
                <div class="col-1 skillBox">f2</div>
                <div class="col-1 skillBox">f3</div>
                <div class="col-1 skillBox">f4</div>
                <div class="col-1 skillBox">d</div>
                <div class="col-1 skillBox">pm</div>
            </div>
        </div>
        <div class="col-lg-2 m-0">
            <div class="row h-100">
                <div class="col-3 skillBox">o1</div>
                <div class="col-3 skillBox">o2</div>
                <div class="col-3 skillBox">o3</div>
                <div class="col-3 skillBox">o4</div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/init.js" asp-append-version="true"></script> 